streamlit
snowflake-connector-python
pandas
plotly
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openpyxl
requests
pyOpenSSL==23.3.0
cryptography==41.0.7
